<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CrashlyticsLinksMatching</key>
	<array>
		<dict>
			<key>regex</key>
			<string>(?:https:\/\/(?:www\.)?)?crashlytics\.com(?:\/login\?redirect_url=)?\/(.+?)\/(?:.+?)\/apps\/(.+?)\/issues\/([a-z0-9]+)</string>
			<key>matches</key>
			<dict>
				<key>organization</key>
				<integer>1</integer>
				<key>bundleID</key>
				<integer>2</integer>
				<key>issueID</key>
				<integer>3</integer>
			</dict>
		</dict>
	</array>
	<key>CrashlyticsLinks</key>
	<dict>
		<key>forgotPassword</key>
		<string>https://crashlytics.com/accounts/password/new</string>
		<key>signUp</key>
		<string>http://try.crashlytics.com/</string>
	</dict>
	<key>CrashlyticsDeveloperToken</key>
	<string>7ce58b3d8d5439aa2a98f837d804619beebf0641</string>
	<key>CrashlyticsAPIKey</key>
	<string>1806f0e415eca8782897d8254a1363122c77c03a</string>
	<key>CrashlyticsDeviceModels</key>
	<array>
		<dict>
			<key>prefix</key>
			<string>iPod</string>
			<key>name</key>
			<string>iPod touch</string>
			<key>suffixes</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>regex</key>
					<string>1(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>2nd Generation</string>
					<key>regex</key>
					<string>2(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>3rd Generation</string>
					<key>regex</key>
					<string>3(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>4th Generation</string>
					<key>regex</key>
					<string>4(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>5th Generation</string>
					<key>regex</key>
					<string>5(_|,){1}\d</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>prefix</key>
			<string>iPhone</string>
			<key>name</key>
			<string>iPhone</string>
			<key>suffixes</key>
			<array>
				<dict>
					<key>name</key>
					<string>Original</string>
					<key>regex</key>
					<string>1((_|,){1}|,){1}1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>3G</string>
					<key>regex</key>
					<string>1(_|,){1}2</string>
				</dict>
				<dict>
					<key>name</key>
					<string>3GS</string>
					<key>regex</key>
					<string>2(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>4</string>
					<key>regex</key>
					<string>3(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>4S</string>
					<key>regex</key>
					<string>4(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>5C</string>
					<key>regex</key>
					<string>5(_|,){1}[3,4]</string>
				</dict>
				<dict>
					<key>name</key>
					<string>5</string>
					<key>regex</key>
					<string>5(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>5S</string>
					<key>regex</key>
					<string>6(_|,){1}\d</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>prefix</key>
			<string>iPad</string>
			<key>name</key>
			<string>iPad</string>
			<key>suffixes</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>regex</key>
					<string>1(_|,){1}\d</string>
				</dict>
				<dict>
					<key>name</key>
					<string>2</string>
					<key>regex</key>
					<string>2(_|,){1}[1-4]</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mini</string>
					<key>regex</key>
					<string>2(_|,){1}[5-7]</string>
				</dict>
				<dict>
					<key>name</key>
					<string>3</string>
					<key>regex</key>
					<string>3(_|,){1}[1-3]</string>
				</dict>
				<dict>
					<key>name</key>
					<string>4</string>
					<key>regex</key>
					<string>3(_|,){1}[4-6]</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Air</string>
					<key>regex</key>
					<string>4(_|,){1}[4-6]</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>CrashManagerSource</key>
	<dict>
		<key>Implementation</key>
		<string>https://bitbucket.org/zats/crash-manager/src/1eb946604127bae3761f12930f4b798e1be46cbc/Crashlytics/#{class}.m?at=#{version}</string>
		<key>Interface</key>
		<string>https://bitbucket.org/zats/crash-manager/src/1eb946604127bae3761f12930f4b798e1be46cbc/Crashlytics/#{class}.h?at=#{version}</string>
	</dict>
</dict>
</plist>
